<p>
  login works!
</p>

<div class="form-row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Email Adress" [(ngModel)]="email">
  </div>
  <div class="col">
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="pass">
  </div>
  <div class="btn-group col" role="group">
    <button class="btn btn-primary" (click)="signIn()">Sign In</button>
    <button class="btn btn-primary" (click)="signOut()">Sign Out</button>
  </div>
</div>
<br>
<ngb-alert  type="success" *ngIf="!closed" (close)="closed=true">
  <strong>Correct ingelogd!</strong><br> Email: {{autheduserEmail}} <br>AuthenicationUID: {{autheduserId}} <br>
</ngb-alert>