<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="./">Index</a></li>
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="./login">Login</a></li>
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" [routerLink]="'./adressen'">Adressen</a></li>
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" [routerLink]="'./help'">Help</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <br>
      <router-outlet></router-outlet>
    </div>

